$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';

body {
  background-color: $background-color;
  margin: 40px;
}

h1 {
  color: $header-font-color;
  text-align: center;
}

.gameboard {
  height: 400px;
  max-width: 400px;
}

.board {
  @include make-row();

  .tile {
    @include make-md-column(4);
    @include make-sm-column(4);
    @include make-xs-column(4);
    @include make-lg-column(4);
    background: #ffffff;
    border: 1px gray solid;
    border-radius: 20px;
    height: 100px;
    width: 100px;
  }
}

.highlighted {
  color: $tile-color;
}

.newGame {
  text-align: center;
}

.player1 {
  color: red;
  text-align: center;
  font-size: 50px;
}

.player2 {
  color: blue;
  text-align: center;
  font-size: 50px;
}

.getGame {
  text-align: center;
  font-size: 40px;
  color: $tile-color;
}

.gameInfo {
  text-align: center;
  font-size: 20px;
  color: $tile-color;
}
