$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';

body {
  background-color: $background-color;
  margin: 40px;
}

h1 {
  color: $header-font-color;
  margin: 0 auto;
}

.board {
  @include make-row();

  .tile {
    background: #ffffff;
    border: 1px gray solid;
    padding: 50px;
    @include make-md-column(4);
    @include make-sm-column(4);
    @include make-xs-column(4);
    @include make-lg-column(4);
  }

}
